body {
    font-family: Arial, sans-serif;
    background-color: #db2997;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #027eaf;
    color: white;
    padding: 1rem;
    text-align: center;
}
main {
    max-width: 100%;
    margin: 0;
    padding: 1rem;
}
h1, h2, h3 {
    color: #000000;
}
p {
    margin-bottom: 1rem;
}
footer {
    background: #333;
    color: #0d046a;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
}
a {
    color: #0015ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table tr td:nth-child(2) {
    text-align: center;  /* centre horizontalement */
    vertical-align: middle; /* centre verticalement si nécessaire */
} 
